* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #f5f5f5;
  color: #333;

  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  background: #1b809c;
  color: white;
  padding: 15px;
  text-align: center;
}

nav {
  margin-top: 10px;
}

nav a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
  font-size: 16px;
}

main {
  flex: 1;
}

section {
  padding: 30px 20px;
  max-width: 900px;
  margin: auto;
}

h2 {
  margin-bottom: 15px;
}

#lista-projetos {
  display: grid;
  grid-template-columns: 1fr;
  gap: 15px;
}

.card {
  background: white;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
}

footer {
  text-align: center;
  padding: 15px;
  background: #222;
  color: white;
}

@media (min-width: 600px) {
  #lista-projetos {
    grid-template-columns: repeat(2, 1fr);
  }

  nav a {
    font-size: 17px;
  }
}

@media (min-width: 900px) {
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    padding: 20px 40px;
  }

  nav {
    margin-top: 0;
  }

  #lista-projetos {
    grid-template-columns: repeat(3, 1fr);
  }

  section {
    padding: 50px 20px;
  }
}
